* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background: #23232e;
  height: 8vh;
  
}

main {
  background: url("Imagens/games.jpg") no-repeat center center;
  background-size: cover;
  /* height: 92vh; */
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list {
  letter-spacing: 3px;
  margin-left: 32px;
}


h1, h2 {
  text-align: center;
  color: white;
}

h3, table{
  color: white;
  text-align: center;
}


p {
  text-indent: 2%;
  color: white;
}

ul, ol {
  color: white;
}

footer {
  background: #23232e;
}



