* {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

/* a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  background: #23232e;
  height: 8vh;
  
} */

.barra-navegacao {
  /* background-color: #333; */
  background-color: #23232e;
  display: flex;
  align-items: center;
  
}

.logo {
  margin-right: auto;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.menu-navegacao {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-navegacao li {
  /* flex: 1; */
  margin: 0 10px;
}

.menu-navegacao a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.menu-navegacao a:hover {
  background-color: #555;
  /* background: #23232e; */
  opacity: 0.7;
}

main {
  background: url("../Imagens/games.jpg") no-repeat center center;
  background-size: cover;
  /* height: 92vh; */
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list {
  letter-spacing: 3px;
  margin-left: 32px;
}

.principal {
  margin: 0px 15px 15px 15px;
  text-align: center;
}

.t1, .t2, .t3 {
  margin: 15px 15px 15px 15px;
  text-align: center;
}

h3, table{
  text-align: center;
}


p {
  text-indent: 2%;
  font-size: 20px;
  text-align: justify;
  margin: 1%

}

table {
  margin-left: auto;
  margin-right: auto;
}

figure {
  margin: 15px 15px 15px 15px;
}


/* footer {
  background: #23232e;
} */

footer {
  background-color: #23232e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer div {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 0 20px;
  box-sizing: border-box;
}

footer h3 {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

/* footer p {
  margin: 0;
} */

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  padding: 5px 0;
}

/* footer ul li a {
  color: #fff;
  text-decoration: none;
} */

footer ul li a:hover {
  text-decoration: underline;
}

/* Estilo para a informação de direitos autorais */
.direitos-autorais {
  margin-top: 20px;
  color: #ccc;
}

/* Estilo para a lista em duas colunas */
.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.img  {
  text-align: center;
}

footer li {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 5px;
  margin: 5px;
}